---
import PostCard from "../../components/PostCard.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { formatBlogPosts } from "../../js/utils";
const posts = await Astro.glob("./*.md");
const formattedPosts = formatBlogPosts(posts);
---

<MainLayout title="My Blog Posts">
  <h1 class="text-3xl font-bold my-8 text-center">New Blog Posts</h1>
  <section class="flex flex-wrap items-start justify-center gap-6 mb-8">
    {formattedPosts.map((post) => <PostCard {post} />)}
  </section>
</MainLayout>
