---
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Page Not Found">
  <div class="flex flex-col items-center justify-center gap-4">
    <h1 class="text-3xl font-bold">Welp, this is awkward!</h1>
    <p class="">We seem to have misplaced something...</p>
    <Link
      href="/"
      text="Go Home"
      class="flex items-center justify-center gap-2 rounded-md text-gray-200 py-2 px-4 transition bg-secondary hover:bg-secondary-hover"
      icon={{
        name: "tabler:home",
        side: "left",
      }}
    />
  </div>
</MainLayout>
