---
import { Image } from "@astrojs/image/components";
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About" description="My about page">
  <section class="my-8" aria-label="About Me">
    <div class="mb-6">
      <Image
        src="/images/headshot.jpeg"
        alt="My headshot"
        width={300}
        height={300}
        class="rounded-3xl shadow-2xl shadow-gray-500"
      />
    </div>
    <div>
      <h1 class="text-3xl font-bold mb-2">My Blog</h1>
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
        assumenda, sint quasi consequuntur minima delectus animi cum magnam
        harum, nulla deserunt quia natus asperiores architecto cumque iure,
        veniam illo debitis. Repellat modi cum porro velit illo, nulla eos
        officiis labore.
      </p>
      <Link
        href="mailto:email@email.com"
        text="E-mail me"
        class="transition rounded-md py-1 px-4 text-gray-200 bg-primary hover:bg-primary-hover"
      />
    </div>
  </section>
</MainLayout>
