---
import MainLayout from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro";
import { formatBlogPosts } from "../js/utils";
const posts = await Astro.glob("./blog/*.md");
const formattedposts = formatBlogPosts(posts, {limit: 3});
---

<MainLayout title="My Blog Home Page">
  <h1 class="text-3xl font-bold my-8 text-center">My Blog</h1>
  <section class="flex flex-wrap items-start justify-center gap-6 mb-8">
    {formattedposts.map((post) => <PostCard {post} />)}
  </section>
</MainLayout>
