---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout metaTitle="My Blog">
  <main class="w-full max-w-7xl m-auto px-4 sm:px-6 lg:px-8">
    <h1 class="text-2xl">Hi from Home</h1>
  </main>
</MainLayout>
