---
---

<footer class="max-w-7xl mx-auto bg-gray-50 p-4 shadow-lg sm:px-6">
  <p class="text-sm text-center">
    Copyright &copy; <span id="copyright"></span> | All rights reserved
  </p>
</footer>

<!-- client side js -->
<script>
  const date = document.querySelector("#copyright");
  date.textContent = new Date().getFullYear().toString();
</script>
