---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import MainHead from "./MainHead.astro";

type Props = {
  metaTitle?: string;
  description?: string;
};

const {
  metaTitle = "My Astro Blog",
  description = "My first take on Astro framework",
} = Astro.props as Props;
---

<html lang="en">
  <MainHead {metaTitle} {description} />
  <body>
    <Nav />
    <slot>Default Text</slot>
    <Footer />
  </body>
</html>
